/* Declaring all the variables that are going to be used */
:root {
    --textSize: var(--percentage);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
#Homepage header,
#Homepage footer,
body[id*="Search"] header,
body[id*="Search"] footer,
body[id*="Download"] header,
body[id*="Download"] footer {
    height: calc(var(--height) / 10);
}
#Homepage header nav,
body[id*="Search"] header nav,
body[id*="Download"] header nav {
    display: flex;
    height: inherit;
}
#Homepage header nav div,
body[id*="Search"] header nav div,
body[id*="Download"] header nav div {
    width: calc(var(--width) / 2);
    display: flex;
}
#Homepage header nav div:nth-child(1),
body[id*="Search"] header nav div:nth-child(1),
body[id*="Download"] header nav div:nth-child(1) {
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 2);
}
#Homepage header nav div:nth-child(2) div,
body[id*="Search"] header nav div:nth-child(2) div,
body[id*="Download"] header nav div:nth-child(2) div {
    width: calc(var(--width) / 4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 1);
}
#Homepage header nav div:nth-child(2) div:nth-child(1) a,
body[id*="Search"] header nav div:nth-child(2) div:nth-child(1) a,
body[id*="Download"] header nav div:nth-child(2) div:nth-child(1) a {
    font-size: calc(var(--textSize) * 1.331);
}
#Homepage header nav div:nth-child(2) div:nth-child(2) button,
body[id*="Search"] header nav div:nth-child(2) div:nth-child(2) button,
body[id*="Download"] header nav div:nth-child(2) div:nth-child(2) button {
    border: none;
    font-size: calc(var(--textSize) * 1.331);
}
#Homepage main,
body[id*="Search"] main,
body[id*="Download"] main {
    --component-height: calc(var(--height) * 0.8);
    height: calc(var(--height) * 0.8);
}
#Homepage main p {
    margin: calc(var(--height) / 100) calc(var(--width) / 10);
    margin-top: calc(var(--height) * 0);
    margin-bottom: calc(var(--height) / 50);
    font-size: calc(var(--textSize) * 1.1);
    letter-spacing: calc(var(--width) / 1000);
}
#Homepage main div {
    display: flex;
    justify-content: space-evenly;
    height: calc(var(--component-height) / 10);
    align-items: center;
}
#Homepage main div div {
    height: inherit;
    width: calc(var(--width) / 10);
    font-size: calc(var(--textSize) * 1.771561);
}
#Homepage footer,
body[id*="Search"] footer,
body[id*="Download"] footer {
    display: flex;
    justify-content: space-evenly;
}
#Homepage footer div,
body[id*="Search"] footer div,
body[id*="Download"] footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 1.61051);
    width: calc(var(--width) / 10);
    height: inherit;
}
body[id*="Search"] main form {
    height: calc(var(--component-height) / 10);
    --form-width: calc(var(--width) / 2);
    width: calc(var(--width) / 2);
    display: flex;
    align-items: center;
    margin: calc(var(--component-height) * 0) calc(var(--width) / 4);
}
body[id*="Search"] main form input {
    width: calc(var(--form-width) * (19 / 20));
    border: none;
}
body[id*="Search"] main form button {
    width: calc(var(--form-width) / 20);
    border: none;
}
body[id*="Search"] main .Media {
    height: calc(var(--component-height) * 0.9);
    --media-height: calc(var(--component-height) * 0.9);
}
body[id*="Search"] main .Media .YouTube {
    height: inherit;
}
body[id*="Search"] main .Media .YouTube div {
    height: calc(var(--media-height) * 0.9);
}
body[id*="Search"] main .Media .YouTube .data {
    height: calc(var(--media-height) / 10);
    display: flex;
    flex-wrap: wrap;
    margin: calc(var(--media-height) * 0) calc(var(--width) / 100);
    width: calc(var(--width) * 0.98);
    --data-width: calc(var(--width) * 0.98);
}
body[id*="Search"] main .Media .YouTube div a img {
    height: calc(var(--media-height) * 0.9);
    width: auto;
}
body[id*="Search"] main .Media .YouTube div:nth-child(1) {
    display: flex;
    justify-content: center;
}
body[id*="Search"] main .Media .YouTube .data div {
    height: calc(var(--media-height) / 20);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(1) {
    width: var(--data-width);
    display: block;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(2),
body[id*="Search"] main .Media .YouTube .data div:nth-child(3),
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) {
    width: calc(var(--data-width) / 3);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) {
    display: flex;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) #duration,
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) #views {
    width: calc(var(--data-width) / 6);
    display: flex;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) #duration div,
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) #views div {
    width: calc(var(--data-width) / 12);
}
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    div:nth-child(3)
    #duration
    div:nth-child(2),
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    div:nth-child(3)
    #views
    div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) {
    display: flex;
    justify-content: center;
    align-items: center;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) button {
    border: none;
    font-size: calc(var(--textSize) * 1);
}
body[id*="Download"] main .YouTube {
    display: flex;
    flex-wrap: wrap;
    height: var(--component-height);
}
body[id*="Download"] main .YouTube div {
    height: calc(var(--component-height) / 2);
    width: calc(var(--width) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
body[id*="Download"] main .YouTube div:nth-child(1) {
    width: var(--width);
}
body[id*="Download"] main .YouTube div a,
body[id*="Download"] main .YouTube div button {
    font-size: calc(var(--textSize) * 4);
}
body[id*="Download"] main .YouTube div button {
    border: none;
}
