/* Declaring all the variables that are going to be used */
:root {
    --textSize: var(--percentage);
    --height: 0px;
    --width: 0px;
    --aspect-ratio: calc(16 / 9);
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
footer {
    height: calc(var(--height) / 10);
}
main {
    --component-height: calc(var(--height) * 0.8);
    --component-width: var(--width);
    height: var(--component-height);
    width: var(--component-width);
}
footer {
    display: flex;
    justify-content: space-evenly;
}
footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 1.61051);
    width: calc(var(--width) / 10);
    height: inherit;
}
body[id*="Download"] main .YouTube {
    display: flex;
    flex-wrap: wrap;
    height: var(--component-height);
}
body[id*="Download"] main .YouTube div {
    height: calc(var(--component-height) / 10);
    width: calc(var(--width) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
body[id*="Download"] main .YouTube div:nth-child(1) {
    width: var(--width);
    height: calc(var(--component-height) * 0.9);
}
body[id*="Download"] main .YouTube div a,
body[id*="Download"] main .YouTube div button {
    font-size: calc(var(--textSize) * 2.36196);
}
body[id*="Download"] main .YouTube div button {
    border: none;
}
body[id*="Download"] main .YouTube div video {
    height: inherit;
    width: auto;
}
#Homepage main #loading,
body[id*="Search"] main #loading {
    position: fixed;
    z-index: 1;
    left: calc(var(--width) * 0);
    top: calc(var(--height) * 0);
    width: var(--width);
    height: var(--height);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 6.727499949);
}
header {
    --header-height: calc(var(--height) / 10);
    --header-width: var(--width);
    width: var(--header-width);
    height: var(--header-height);
}
header nav {
    width: inherit;
    height: inherit;
    display: flex;
}
header nav div {
    --navigation-bar-height: var(--header-height);
    --navigation-bar-width: calc(var(--header-width) / 3);
    height: inherit;
    width: var(--navigation-bar-width);
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav div a {
    font-size: calc(var(--textSize) * 2);
    letter-spacing: calc(var(--width) / 1000);
}
header nav div:nth-child(2) {
    --navigation-bar-width: calc(var(--header-width) * (2 / 3));
}
header nav div form {
    --form-height: var(--navigation-bar-height);
    --form-width: calc(var(--navigation-bar-width) / 2);
    width: var(--form-width);
    height: var(--form-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav div form button {
    height: calc(var(--form-height) / 2.91);
}
header nav div form input {
    border: none;
    font-family: var(--sourceCodePro);
    letter-spacing: calc(var(--width) / 2000);
    padding-block: unset;
    height: calc(var(--form-height) / 2.91);
    padding-bottom: calc(var(--form-height) / 58.2);
    border-bottom: var(--color2) solid calc(var(--form-height) / 58.2);
    margin-left: calc(var(--form-width) / 227.7);
    font-size: var(--textSize);
    width: calc(var(--form-width) / 1.19);
}
header nav div div {
    --color-scheme-height: var(--navigation-bar-height);
    --color-scheme-width: calc(var(--navigation-bar-width) / 2);
    height: var(--color-scheme-height);
    width: var(--color-scheme-width);
}
header nav div div button,
header nav div form button {
    border: none;
    padding: unset;
    width: auto;
}
header nav div div button {
    height: calc(var(--color-scheme-height) / 2.91);
}
header nav div:nth-child(2) div button svg,
header nav div:nth-child(2) form button svg {
    height: inherit;
    width: auto;
}
#Homepage main {
    --main-height: calc(var(--height) * 0.8);
    --main-width: var(--width);
    width: var(--main-width);
    height: var(--main-height);
}
#Homepage main p {
    margin-block: calc(var(--main-height) * 0);
    font-size: var(--textSize);
    letter-spacing: calc(var(--width) / 1000);
    width: calc(var(--main-width) * 0.9);
    margin-inline: calc(var(--main-width) / 20);
    height: calc(var(--main-height) / 10);
}
#Homepage main div {
    display: flex;
    height: calc(var(--main-height) / 20);
    justify-content: center;
}
#Homepage main div div svg {
    width: auto;
    height: calc(var(--main-height) / 23.27);
}
#Homepage main .Trend {
    --trend-height: calc(var(--main-height) * 0.85);
    --trend-width: var(--main-width);
    display: block;
    width: var(--trend-width);
    height: var(--trend-height);
}
#Homepage main .Trend div {
    display: flex;
    height: inherit;
    flex-wrap: wrap;
    overflow: auto;
}
#Homepage main .Trend div::-webkit-scrollbar,
body[id*="Search"] main .Media .RelatedContents::-webkit-scrollbar {
    display: none;
}
#Homepage main .Trend div .card {
    --card-height: calc(var(--trend-height) * 0.4);
    --card-width: calc(var(--trend-width) / 3);
    height: var(--card-height);
    width: var(--card-width);
    overflow: unset;
    display: flex;
}
#Homepage main .Trend div .card div {
    width: calc(var(--card-width) / 2);
    overflow: unset;
    height: inherit;
}
#Homepage main .Trend div .card div:nth-child(1) a {
    width: inherit;
    height: inherit;
    display: block;
}
#Homepage main .Trend div .card div:nth-child(1) a img {
    width: inherit;
    height: auto;
}
#Homepage main .Trend div .card div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
}
#Homepage main .Trend div .card div:nth-child(2) div {
    display: block;
    height: calc(var(--card-height) / 4);
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(1) {
    width: inherit;
    font-size: calc(var(--textSize) * 0.66);
    letter-spacing: calc(var(--width) / 2000);
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(2) a {
    font-size: calc(var(--textSize) * 0.81);
    letter-spacing: calc(var(--width) / 2000);
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(3) {
    width: calc(var(--card-width) / 4);
    display: flex;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(3) div,
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(4) div {
    width: calc(var(--card-width) / 8);
    font-size: calc(var(--textSize) * 0.66);
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(4) {
    width: calc(var(--card-width) / 4);
    display: flex;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(5) {
    display: flex;
    width: inherit;
    justify-content: center;
    align-items: center;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(5) a {
    width: auto;
    height: inherit;
}
body[id*="Search"] main #loading {
    display: flex;
}
body[id*="Search"] main .Media {
    height: inherit;
    width: inherit;
    display: flex;
}
body[id*="Search"] main .Media .YouTube {
    --youtube-height: var(--component-height);
    --youtube-width: calc(var(--component-width) * (4 / 5));
    height: var(--youtube-height);
    width: var(--youtube-width);
}
body[id*="Search"] main .Media .RelatedContents {
    --related-contents-height: var(--component-height);
    --related-contents-width: calc(var(--component-width) / 5);
    height: var(--related-contents-height);
    width: var(--related-contents-width);
    overflow: scroll;
}
body[id*="Search"] main .Media .YouTube div {
    height: calc(var(--youtube-height) * (4 / 5));
    width: auto;
    display: flex;
    justify-content: center;
}
body[id*="Search"] main .Media .YouTube div a {
    display: block;
    height: calc(var(--youtube-height) * (4 / 5));
    width: calc(var(--youtube-height) * (4 / 5) * var(--aspect-ratio));
}
body[id*="Search"] main .Media .YouTube div a img {
    width: auto;
    height: calc(var(--youtube-height) * (4 / 5));
}
body[id*="Search"] main .Media .YouTube .data {
    --youtube-data-height: calc(var(--youtube-height) / 5);
    --youtube-data-width: var(--youtube-width);
    height: var(--youtube-data-height);
    width: var(--youtube-data-width);
    display: flex;
    justify-content: normal;
}
body[id*="Search"] main .Media .YouTube .data .metadata {
    height: var(--youtube-data-height);
    width: calc(var(--youtube-data-width) * (4 / 5));
    justify-content: normal;
    display: block;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) {
    height: var(--youtube-data-height);
    width: calc(var(--youtube-data-width) / 5);
    justify-content: center;
    align-items: center;
}
body[id*="Search"] main .Media .YouTube .data .metadata div {
    justify-content: normal;
    width: calc(var(--youtube-data-width) * (4 / 5));
}
body[id*="Search"] main .Media .YouTube .data .metadata div:nth-child(1) {
    height: calc(var(--youtube-data-height) / 4);
    align-items: center;
    letter-spacing: calc(var(--width) / 2000);
}
body[id*="Search"] main .Media .YouTube .data .metadata div:nth-child(2) {
    height: calc(var(--youtube-data-height) / 4);
}
body[id*="Search"] main .Media .YouTube .data .metadata div:nth-child(2) a {
    display: flex;
    height: calc(var(--youtube-data-height) / 4);
    display: flex;
    align-items: center;
    letter-spacing: calc(var(--width) / 2000);
    width: auto;
}
body[id*="Search"] main .Media .YouTube .data .metadata div:nth-child(3) {
    flex-wrap: wrap;
    height: calc(var(--youtube-data-height) / 2);
}
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    .metadata
    div:nth-child(3)
    #duration,
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    .metadata
    div:nth-child(3)
    #views {
    height: calc(var(--youtube-data-height) / 4);
    align-items: normal;
    letter-spacing: normal;
}
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    .metadata
    div:nth-child(3)
    #duration
    div,
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    .metadata
    div:nth-child(3)
    #views
    div {
    height: inherit;
    align-items: center;
    letter-spacing: calc(var(--width) / 2000);
}
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    .metadata
    div:nth-child(3)
    #duration
    div:nth-child(1),
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    .metadata
    div:nth-child(3)
    #views
    div:nth-child(1) {
    width: calc(var(--youtube-data-width) / 10);
}
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    .metadata
    div:nth-child(3)
    #duration
    div:nth-child(2),
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    .metadata
    div:nth-child(3)
    #views
    div:nth-child(2) {
    width: calc(var(--youtube-data-width) * (9 / 10));
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) button {
    width: auto;
    height: auto;
    border: none;
    padding: unset;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) button svg {
    width: auto;
    height: calc(var(--youtube-data-height) / 3.438);
}
body[id*="Search"] main .Media .RelatedContents .card {
    width: var(--related-contents-width);
    height: calc(var(--related-contents-height) / 1.8953);
    margin-block: calc(var(--related-contents-height) / 100);
}
body[id*="Search"] main .Media .RelatedContents .card div:nth-child(1) {
    height: calc(var(--related-contents-height) / 1.8953 * (16 / 26));
    width: var(--related-contents-width);
}
body[id*="Search"] main .Media .RelatedContents .card div:nth-child(2) {
    width: var(--related-contents-width);
    height: calc(var(--related-contents-height) / 1.8953 * (10 / 26));
}
body[id*="Search"] main .Media .RelatedContents .card div:nth-child(1) a {
    display: block;
    height: calc(var(--related-contents-height) / 2.0532 * (16 / 24));
    width: var(--related-contents-width);
}
body[id*="Search"] main .Media .RelatedContents .card div:nth-child(1) a img {
    width: var(--related-contents-width);
    height: auto;
}
body[id*="Search"] main .Media .RelatedContents .card div:nth-child(2) div {
    height: calc(var(--related-contents-height) / 1.8953 * (2 / 26));
    font-size: calc(var(--textSize) * 0.6561);
}
body[id*="Search"]
    main
    .Media
    .RelatedContents
    .card
    div:nth-child(2)
    div:nth-child(1) {
    letter-spacing: calc(var(--width) / 2000);
    height: calc(var(--related-contents-height) / 1.8953 * (4 / 26));
}
body[id*="Search"]
    main
    .Media
    .RelatedContents
    .card
    div:nth-child(2)
    div:nth-child(3) {
    display: flex;
}
body[id*="Search"]
    main
    .Media
    .RelatedContents
    .card
    div:nth-child(2)
    div:nth-child(3)
    div {
    height: calc(var(--related-contents-height) / 1.8953 * (2 / 26));
    font-size: unset;
    display: flex;
    align-items: center;
}
body[id*="Search"]
    main
    .Media
    .RelatedContents
    .card
    div:nth-child(2)
    div:nth-child(3)
    div:nth-child(1) {
    width: calc(var(--related-contents-width) / 3);
}
body[id*="Search"]
    main
    .Media
    .RelatedContents
    .card
    div:nth-child(2)
    div:nth-child(3)
    div:nth-child(2) {
    width: calc(var(--related-contents-width) * (2 / 3));
}
body[id*="Search"]
    main
    .Media
    .RelatedContents
    .card
    div:nth-child(2)
    div:nth-child(4) {
    display: flex;
    justify-content: center;
}
body[id*="Search"]
    main
    .Media
    .RelatedContents
    .card
    div:nth-child(2)
    div:nth-child(4)
    a {
    font-size: unset;
}
body[id*="Search"]
    main
    .Media
    .RelatedContents
    .card
    div:nth-child(2)
    div:nth-child(4)
    a
    svg {
    width: auto;
    height: calc(var(--related-contents-height) / 1.8953 * (2 / 26));
}
