/* Declaring all the variables that are going to be used */
:root {
    --textSize: calc(var(--percentage) * 1.4641);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
#Homepage footer,
body[id*="Search"] footer,
body[id*="Download"] footer {
    height: calc(var(--height) / 10);
}
body[id*="Download"] main .YouTube div button {
    border: none;
}
#Homepage main,
body[id*="Search"] main,
body[id*="Download"] main {
    height: calc(var(--height) * 0.8);
    --component-height: calc(var(--height) * 0.8);
}
#Homepage main p {
    margin: calc(var(--height) * 0) calc(var(--width) / 25);
    letter-spacing: calc(var(--width) / 2000);
    font-size: calc(var(--textSize) / 2);
    height: calc(var(--component-height) / 3);
}
#Homepage main div {
    display: flex;
    height: calc(var(--component-height) / 10);
    justify-content: space-evenly;
}
#Homepage main div div {
    height: inherit;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 1);
}
#Homepage footer,
body[id*="Search"] footer,
body[id*="Download"] footer {
    display: flex;
    justify-content: center;
}
#Homepage footer div,
body[id*="Search"] footer div,
body[id*="Download"] footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}
body[id*="Search"] main form {
    height: calc(var(--component-height) / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
}
body[id*="Search"] main form input {
    width: calc(var(--width) * 0.9);
    border: none;
    font-size: calc(var(--textSize) * 0.43046721);
}
body[id*="Search"] main form button {
    width: calc(var(--width) / 10);
    border: none;
    font-size: calc(var(--textSize) * 0.43046721);
}
body[id*="Search"] main .Media {
    height: calc(var(--component-height) * 0.9);
    --media-height: calc(var(--component-height) * 0.9);
}
body[id*="Search"] main .Media .YouTube {
    height: var(--media-height);
}
body[id*="Search"] main .Media .YouTube div:nth-child(1) {
    height: calc(var(--media-height) * 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
body[id*="Search"] main .Media .YouTube div:nth-child(1) a img {
    width: calc(var(--width) * 0.9);
    height: auto;
}
body[id*="Search"] main .Media .YouTube .data {
    height: calc(var(--media-height) / 5);
    display: flex;
    flex-wrap: wrap;
    --data-height: calc(var(--media-height) / 5);
}
body[id*="Search"] main .Media .YouTube .data div {
    height: calc(var(--data-height) / 2);
    font-size: calc(var(--textSize) * 0.43046721);
    width: calc(var(--width) / 3);
    display: flex;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(1) {
    width: var(--width);
    font-size: calc(var(--textSize) * 0.34867844);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) {
    font-size: calc(var(--textSize) * 0.34867844);
    align-items: center;
    justify-content: center;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) {
    --stats-height: calc(var(--data-height) / 2);
    display: block;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) div {
    height: calc(var(--stats-height) / 2);
    width: calc(var(--width) / 3);
    font-size: calc(var(--textSize) * 0.4782969);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) {
    justify-content: center;
    align-items: center;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) button {
    border: none;
    font-size: var(--textSize);
}
body[id*="Download"] main .YouTube {
    height: var(--component-height);
    display: flex;
    flex-wrap: wrap;
}
body[id*="Download"] main .YouTube div {
    width: calc(var(--width) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--component-height) * 0.6);
}
body[id*="Download"] main .YouTube div:nth-child(1) {
    width: var(--width);
    height: calc(var(--component-height) * 0.4);
}
body[id*="Download"] main .YouTube div a,
body[id*="Download"] main .YouTube div button {
    font-size: calc(var(--textSize) * 2.59374246);
}
#Homepage main #loading,
body[id*="Search"] main #loading {
    position: fixed;
    z-index: 1;
    left: calc(var(--width) * 0);
    top: calc(var(--height) * 0);
    width: var(--width);
    height: var(--height);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 6.727499949);
}
body[id*="Download"] main .YouTube div video {
    height: inherit;
    width: auto;
}
#Homepage main .Trend {
    height: calc(var(--component-height) * (17 / 30));
    justify-content: normal;
    align-items: normal;
    width: var(--width);
    overflow: hidden;
}
#Homepage main .Trend .card {
    height: var(--card-height);
    width: var(--card-width);
    --card-height: calc(var(--component-height) * (17 / 30));
    --card-width: calc(var(--width) * 0.9);
    justify-content: normal;
    flex: 0 0 auto;
    flex-direction: column;
    margin: calc(var(--card-height) * 0) calc(var(--card-width) / 20);
    animation: none;
}
#Homepage main .Trend .card div {
    width: var(--card-width);
    height: calc(var(--card-height) / 2);
    overflow: unset;
    animation: none;
}
#Homepage main .Trend .card div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}
#Homepage main .Trend .card div:nth-child(1) a {
    height: calc(var(--card-height) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
#Homepage main .Trend .card div:nth-child(1) a img {
    width: auto;
    height: calc(var(--card-height) / 2);
}
#Homepage main .Trend .card div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    overflow: unset;
}
#Homepage main .Trend .card div:nth-child(2) div {
    height: calc(var(--card-height) / 10);
    font-size: calc(var(--textSize) / 7);
    overflow: unset;
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(1) {
    align-items: center;
    justify-content: normal;
    word-wrap: break-word;
    font-size: calc(var(--textSize) / 10);
    width: var(--card-width);
    animation: none;
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(2) {
    justify-content: normal;
    font-size: calc(var(--textSize) / 3);
    align-items: center;
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(2) a {
    font-size: calc(var(--textSize) * 0.315338531);
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(3),
#Homepage main .Trend .card div:nth-child(2) div:nth-child(4) {
    width: calc(var(--card-width) / 2);
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(3) div,
#Homepage main .Trend .card div:nth-child(2) div:nth-child(4) div {
    font-size: calc(var(--textSize) / 2);
    width: calc(var(--card-width) / 4);
    --stats-width: calc(var(--card-width) / 2);
    align-items: center;
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(5) a {
    font-size: calc(var(--textSize) * 1.121);
}
#Homepage main .Trend div {
    height: calc(var(--component-height) * (17 / 30));
    justify-content: normal;
    align-items: normal;
    flex-wrap: nowrap;
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(3) div:nth-child(1),
#Homepage main .Trend .card div:nth-child(2) div:nth-child(4) div:nth-child(1) {
    width: calc(var(--stats-width) / 2);
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(3) div:nth-child(2),
#Homepage main .Trend .card div:nth-child(2) div:nth-child(4) div:nth-child(2) {
    width: calc(var(--stats-width) / 2);
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(5) {
    justify-content: center;
    align-items: center;
}
@keyframes trend-scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
header {
    width: inherit;
    height: calc(var(--height) / 10);
}
header nav {
    height: inherit;
    width: inherit;
    display: flex;
}
header nav div {
    height: inherit;
}
header nav div:nth-child(1) {
    width: calc(var(--width) / 3);
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav div:nth-child(1) a {
    font-size: calc(var(--textSize) * 0.81);
    letter-spacing: calc(var(--width) / 1000);
}
header nav div:nth-child(2) {
    width: calc(var(--width) * (2 / 3));
    display: flex;
    flex-wrap: wrap;
}
header nav div:nth-child(2) form {
    --search-form-height: calc(var(--height) / 20);
    --search-form-width: calc(var(--width) * (2 / 3));
    height: var(--search-form-height);
    width: var(--search-form-width);
    display: flex;
    align-items: center;
}
header nav div:nth-child(2) form button {
    border: none;
    height: calc(var(--search-form-height) * 0.75);
    width: calc(var(--search-form-width) / 7.5);
    padding: unset;
}
header nav div:nth-child(2) form button svg {
    height: auto;
    width: calc(var(--search-form-width) / 10);
}
header nav div:nth-child(2) form input {
    height: calc(var(--search-form-height) * 0.75);
    width: calc(var(--search-form-width) * (6.5 / 7.5));
    border: unset;
    border-bottom: solid 1px;
}
header nav div:nth-child(2) div {
    height: calc(var(--height) / 20);
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header nav div:nth-child(2) div button {
    border: none;
    height: inherit;
    padding: unset;
    width: auto;
}
header nav div:nth-child(2) div button svg {
    width: auto;
    height: calc(var(--height) / (80 / 3));
}
