/* Declaring all the variables that are going to be used */
:root {
    --textSize: calc(var(--percentage) * 1.331);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
#Homepage footer,
body[id*="Search"] footer,
body[id*="Download"] footer {
    height: calc(var(--height) / 10);
}
body[id*="Download"] main .YouTube div button {
    border: none;
}
#Homepage main,
body[id*="Search"] main,
body[id*="Download"] main {
    height: calc(var(--height) * 0.8);
    --component-height: calc(var(--height) * 0.8);
}
#Homepage main p {
    margin: calc(var(--height) / 50) calc(var(--width) / 50);
    margin-top: calc(var(--height) * 0);
    letter-spacing: calc(var(--width) / 1000);
    height: calc(var(--component-height) / 4);
}
#Homepage main div {
    height: calc(var(--component-height) / 10);
    display: flex;
    justify-content: space-evenly;
}
#Homepage main div div {
    height: inherit;
    width: calc(var(--width) / 10);
    font-size: calc(var(--textSize) * 1.331);
    justify-content: center;
    align-items: center;
}
#Homepage footer,
body[id*="Search"] footer,
body[id*="Download"] footer {
    display: flex;
    justify-content: center;
}
#Homepage footer div,
body[id*="Search"] footer div,
body[id*="Download"] footer div {
    height: inherit;
    width: calc(var(--width) / 5);
    font-size: calc(var(--textSize) * 1.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
body[id*="Search"] main form {
    height: calc(var(--component-height) / 10);
    width: calc(var(--width) * (2 / 3));
    margin: calc(var(--component-height) * 0) calc(var(--width) / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    --form-width: calc(var(--width) * (2 / 3));
}
body[id*="Search"] main form input {
    width: calc(var(--form-width) * 0.9);
    border: none;
    font-size: calc(var(--textSize) * 0.531441);
}
body[id*="Search"] main form button {
    width: calc(var(--form-width) / 10);
    border: none;
    font-size: calc(var(--textSize) * 0.531441);
}
body[id*="Search"] main .Media {
    height: calc(var(--component-height) * 0.9);
    --media-height: calc(var(--component-height) * 0.9);
}
body[id*="Search"] main .Media .YouTube {
    height: var(--media-height);
}
body[id*="Search"] main .Media .YouTube div:nth-child(1) {
    height: calc(var(--media-height) * 0.8);
    display: flex;
    justify-content: center;
}
body[id*="Search"] main .Media .YouTube div:nth-child(1) a img {
    height: calc(var(--media-height) * 0.8);
    width: auto;
}
body[id*="Search"] main .Media .YouTube .data {
    height: calc(var(--media-height) / 5);
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--width) * 0.98);
    margin: calc(var(--media-height) * 0) calc(var(--width) / 100);
    --data-width: calc(var(--width) * 0.98);
}
body[id*="Search"] main .Media .YouTube .data div {
    height: calc(var(--media-height) / 10);
    display: flex;
    align-items: center;
    width: calc(var(--data-width) / 3);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(1) {
    width: var(--data-width);
    justify-content: start;
    font-size: calc(var(--textSize) * 0.531441);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) a {
    font-size: calc(var(--textSize) * 0.531441);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) {
    --stats-width: calc(var(--data-width) / 3);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) div {
    width: calc(var(--stats-width) / 2);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) div div {
    width: calc(var(--stats-width) / 4);
    font-size: calc(var(--textSize) * 0.531441);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) {
    justify-content: center;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) button {
    border: none;
    font-size: calc(var(--textSize) * 0.729);
}
body[id*="Download"] main .YouTube {
    height: var(--component-height);
    display: flex;
    flex-wrap: wrap;
}
body[id*="Download"] main .YouTube div {
    height: calc(var(--component-height) / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--width) / 2);
}
body[id*="Download"] main .YouTube div:nth-child(1) {
    width: var(--width);
    height: calc(var(--component-height) * 0.9);
}
body[id*="Download"] main .YouTube div a,
body[id*="Download"] main .YouTube div button {
    font-size: calc(var(--textSize) * 1);
}
body[id*="Search"] main #loading {
    position: fixed;
    z-index: 1;
    left: calc(var(--width) * 0);
    top: calc(var(--height) * 0);
    width: var(--width);
    height: var(--height);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 6.727499949);
}
body[id*="Download"] main .YouTube div video {
    width: auto;
    height: inherit;
}
#Homepage main .Trend {
    height: calc(var(--component-height) * 0.65);
    justify-content: normal;
    align-items: normal;
    flex-wrap: wrap;
    overflow: auto;
    width: var(--width);
}
#Homepage main .Trend .card {
    height: var(--card-height);
    width: var(--card-width);
    display: flex;
    --card-height: calc(var(--component-height) / 3);
    --card-width: calc(var(--width) / 2);
    justify-content: normal;
    overflow: unset;
    margin: calc(var(--card-height) / 25) calc(var(--card-width) * 0);
}
#Homepage main .Trend .card div {
    width: calc(var(--card-width) / 2);
    height: inherit;
    overflow: unset;
}
#Homepage main .Trend .card div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}
#Homepage main .Trend .card div:nth-child(1) a {
    height: var(--card-height);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--card-width) / 2);
}
#Homepage main .Trend .card div:nth-child(1) a img {
    width: calc(var(--card-width) / 2);
    height: auto;
}
#Homepage main .Trend .card div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: normal;
    overflow: unset;
}
#Homepage main .Trend .card div:nth-child(2) div {
    height: calc(var(--card-height) / 5);
    font-size: calc(var(--textSize) / 7);
    overflow: unset;
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(1) {
    align-items: center;
    justify-content: normal;
    word-wrap: break-word;
    font-size: calc(var(--textSize) / 15);
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(2) {
    justify-content: normal;
    font-size: calc(var(--textSize) / 5);
    align-items: center;
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(2) a {
    font-size: calc(var(--textSize) * 0.315338531);
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(3),
#Homepage main .Trend .card div:nth-child(2) div:nth-child(4) {
    width: calc(var(--card-width) / 2);
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(3) div,
#Homepage main .Trend .card div:nth-child(2) div:nth-child(4) div {
    font-size: calc(var(--textSize) * 0.34867844);
    width: calc(var(--card-width) / 4);
    --stats-width: calc(var(--card-width) / 2);
    align-items: center;
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(5) a {
    font-size: calc(var(--textSize) * 0.679475639);
}
#Homepage main .Trend div {
    height: calc(var(--component-height) * 0.65);
    width: var(--width);
    justify-content: normal;
    align-items: normal;
    flex-wrap: wrap;
    overflow: unset;
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(3) div:nth-child(1),
#Homepage main .Trend .card div:nth-child(2) div:nth-child(4) div:nth-child(1) {
    width: calc(var(--stats-width) / 3);
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(3) div:nth-child(2),
#Homepage main .Trend .card div:nth-child(2) div:nth-child(4) div:nth-child(2) {
    width: calc(var(--stats-width) * (2 / 3));
}
#Homepage main .Trend .card div:nth-child(2) div:nth-child(5) {
    justify-content: center;
}
header {
    --header-height: calc(var(--height) / 10);
    --header-width: var(--width);
    height: var(--header-height);
    width: var(--header-width);
}
header nav {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
}
header nav div {
    height: inherit;
}
header nav div:nth-child(1) {
    width: calc(var(--header-width) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav div:nth-child(1) a {
    font-size: calc(var(--textSize) * 0.73);
    letter-spacing: calc(var(--width) / 1000);
}
header nav div:nth-child(2) {
    height: inherit;
    --header-component-width: calc(var(--header-width) * (2 / 3));
    display: flex;
    width: var(--header-component-width);
}
header nav div:nth-child(2) form {
    --search-bar-height: var(--header-height);
    --search-bar-width: calc(var(--header-component-width) * 0.9);
    display: flex;
    height: var(--search-bar-height);
    width: var(--search-bar-width);
    align-items: center;
}
header nav div:nth-child(2) form button {
    border: unset;
    padding: unset;
    width: calc(var(--search-bar-width) / 10);
    height: calc(var(--search-bar-height) * 0.75);
}
header nav div:nth-child(2) form button svg {
    width: auto;
    height: inherit;
}
header nav div:nth-child(2) form input {
    border: unset;
    height: calc(var(--search-bar-height) * 0.75);
    border-bottom: solid 1px;
    letter-spacing: calc(var(--width) / 2000);
    width: calc(var(--search-bar-width) * 0.9);
}
header nav div:nth-child(2) div {
    width: calc(var(--header-component-width) / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
header nav div:nth-child(2) div button {
    border: unset;
    padding: unset;
    height: auto;
    width: auto;
}
header nav div:nth-child(2) div button svg {
    width: auto;
    height: calc(var(--header-height) * 0.75);
}
