/* Declaring all the variables that are going to be used */
:root {
    --textSize: calc(var(--percentage) * 1.331);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
#Homepage footer,
body[id*="Search"] footer,
body[id*="Download"] footer {
    height: calc(var(--height) / 10);
}
body[id*="Download"] main .YouTube div button {
    border: none;
}
body[id*="Search"] main,
body[id*="Download"] main {
    height: calc(var(--height) * 0.8);
    --component-height: calc(var(--height) * 0.8);
}
#Homepage footer,
body[id*="Search"] footer,
body[id*="Download"] footer {
    display: flex;
    justify-content: center;
}
#Homepage footer div,
body[id*="Search"] footer div,
body[id*="Download"] footer div {
    height: inherit;
    width: calc(var(--width) / 5);
    font-size: calc(var(--textSize) * 0.81);
    display: flex;
    justify-content: center;
    align-items: center;
}
body[id*="Search"] main form {
    height: calc(var(--component-height) / 10);
    width: calc(var(--width) * (2 / 3));
    margin: calc(var(--component-height) * 0) calc(var(--width) / 6);
    display: flex;
    justify-content: center;
    align-items: center;
    --form-width: calc(var(--width) * (2 / 3));
}
body[id*="Search"] main form input {
    width: calc(var(--form-width) * 0.9);
    border: none;
    font-size: calc(var(--textSize) * 0.531441);
}
body[id*="Search"] main form button {
    width: calc(var(--form-width) / 10);
    border: none;
    font-size: calc(var(--textSize) * 0.531441);
}
body[id*="Search"] main .Media {
    height: calc(var(--component-height) * 0.9);
    --media-height: calc(var(--component-height) * 0.9);
}
body[id*="Search"] main .Media .YouTube {
    height: var(--media-height);
}
body[id*="Search"] main .Media .YouTube div:nth-child(1) {
    height: calc(var(--media-height) * 0.8);
    display: flex;
    justify-content: center;
}
body[id*="Search"] main .Media .YouTube div:nth-child(1) a img {
    height: calc(var(--media-height) * 0.8);
    width: auto;
}
body[id*="Search"] main .Media .YouTube .data {
    height: calc(var(--media-height) / 5);
    display: flex;
    flex-wrap: wrap;
    width: calc(var(--width) * 0.98);
    margin: calc(var(--media-height) * 0) calc(var(--width) / 100);
    --data-width: calc(var(--width) * 0.98);
}
body[id*="Search"] main .Media .YouTube .data div {
    height: calc(var(--media-height) / 10);
    display: flex;
    align-items: center;
    width: calc(var(--data-width) / 3);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(1) {
    width: var(--data-width);
    justify-content: start;
    font-size: calc(var(--textSize) * 0.531441);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) a {
    font-size: calc(var(--textSize) * 0.531441);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) {
    --stats-width: calc(var(--data-width) / 3);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) div {
    width: calc(var(--stats-width) / 2);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(3) div div {
    width: calc(var(--stats-width) / 4);
    font-size: calc(var(--textSize) * 0.531441);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) {
    justify-content: center;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) button {
    border: none;
    font-size: calc(var(--textSize) * 0.729);
}
body[id*="Download"] main .YouTube {
    height: var(--component-height);
    display: flex;
    flex-wrap: wrap;
}
body[id*="Download"] main .YouTube div {
    height: calc(var(--component-height) / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--width) / 2);
}
body[id*="Download"] main .YouTube div:nth-child(1) {
    width: var(--width);
    height: calc(var(--component-height) * 0.9);
}
body[id*="Download"] main .YouTube div a,
body[id*="Download"] main .YouTube div button {
    font-size: calc(var(--textSize) * 1);
}
#Homepage main #loading,
body[id*="Search"] main #loading {
    position: fixed;
    z-index: 1;
    left: calc(var(--width) * 0);
    top: calc(var(--height) * 0);
    width: var(--width);
    height: var(--height);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 6.727499949);
}
body[id*="Download"] main .YouTube div video {
    width: auto;
    height: inherit;
}
header {
    --header-height: calc(var(--height) / 10);
    --header-width: var(--width);
    height: var(--header-height);
    width: var(--header-width);
}
header nav {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
}
header nav div {
    height: inherit;
}
header nav div:nth-child(1) {
    width: calc(var(--header-width) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav div:nth-child(1) a {
    font-size: calc(var(--textSize) * 0.73);
    letter-spacing: calc(var(--width) / 1000);
}
header nav div:nth-child(2) {
    height: inherit;
    --header-component-width: calc(var(--header-width) * (2 / 3));
    display: flex;
    width: var(--header-component-width);
}
header nav div:nth-child(2) form {
    --search-bar-height: var(--header-height);
    --search-bar-width: calc(var(--header-component-width) * 0.9);
    display: flex;
    height: var(--search-bar-height);
    width: var(--search-bar-width);
    align-items: center;
}
header nav div:nth-child(2) form button {
    border: unset;
    padding: unset;
    width: calc(var(--search-bar-width) / 10);
    height: calc(var(--search-bar-height) * 0.75);
}
header nav div:nth-child(2) form button svg {
    width: auto;
    height: inherit;
}
header nav div:nth-child(2) form input {
    border: unset;
    height: calc(var(--search-bar-height) * 0.75);
    border-bottom: solid 1px;
    letter-spacing: calc(var(--width) / 2000);
    width: calc(var(--search-bar-width) * 0.9);
    font-size: calc(var(--textSize) * 0.43);
}
header nav div:nth-child(2) div {
    width: calc(var(--header-component-width) / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
header nav div:nth-child(2) div button {
    border: unset;
    padding: unset;
    height: auto;
    width: auto;
}
header nav div:nth-child(2) div button svg {
    width: auto;
    height: calc(var(--header-height) * 0.75);
}
#Homepage main {
    --main-height: calc(var(--height) * 0.8);
    --main-width: var(--width);
    height: var(--main-height);
    width: var(--main-width);
}
#Homepage main p {
    margin-block: calc(var(--main-height) * 0);
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * 0.43);
    text-align: justify;
    display: block;
    height: calc(var(--main-height) / 10);
}
#Homepage main div {
    height: calc(var(--main-height) / 10);
    display: flex;
    justify-content: center;
    width: inherit;
}
#Homepage main div div {
    display: flex;
    width: auto;
    height: inherit;
    align-items: center;
}
#Homepage main div div svg {
    width: auto;
    height: calc(var(--main-height) / 10.661);
}
#Homepage main .Trend {
    display: block;
    height: calc(var(--main-height) * 0.8);
    width: inherit;
}
#Homepage main .Trend div {
    --trend-height: calc(var(--main-height) * 0.8);
    --trend-width: var(--main-width);
    display: flex;
    width: inherit;
    height: inherit;
    align-items: unset;
    overflow: auto;
    flex-wrap: wrap;
}
#Homepage main .Trend div .card {
    --card-height: calc(var(--trend-height) / 2);
    --card-width: calc(var(--trend-width) / 2);
    display: flex;
    height: var(--card-height);
    width: var(--card-width);
    overflow: unset;
    flex-wrap: nowrap;
}
#Homepage main .Trend div .card div {
    height: inherit;
    width: calc(var(--card-width) / 2);
    overflow: unset;
}
#Homepage main .Trend div .card div:nth-child(1) {
    display: block;
}
#Homepage main .Trend div .card div:nth-child(1) a {
    display: block;
    width: inherit;
    height: auto;
}
#Homepage main .Trend div .card div:nth-child(1) a img {
    height: auto;
    width: inherit;
}
#Homepage main .Trend div .card div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
}
#Homepage main .Trend div .card div:nth-child(2) div {
    height: calc(var(--card-height) / 4);
    display: block;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(1) {
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * 0.25);
    width: inherit;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(2) {
    width: inherit;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(2) a {
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * 0.3);
    display: block;
    height: inherit;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(3),
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(4) {
    height: calc(var(--card-height) / 8);
    width: inherit;
    display: flex;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(3) div,
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(4) div {
    height: inherit;
    width: calc(var(--card-width) / 4);
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * 0.35);
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(5) {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(5) a {
    display: block;
    width: auto;
    height: calc(var(--card-height) / 4.265);
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(5) a svg {
    width: auto;
    height: calc(var(--card-height) / 4.265);
}
