/* Importing all the font's files needed for Pacifico */
@font-face {
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    src: local("Pacifico"),
        url("https://fonts.cdnfonts.com/s/12846/Pacifico.woff") format("woff");
}
/* Importing all the font's files needed for Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Regular Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Regular.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 250;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Thin Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 250;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Thin.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 300;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Light.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: italic;
    font-weight: 300;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Light Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Semibold Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Semibold.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Bold Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Bold.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 800;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Extrabold Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 800;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Extrabold.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Black Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Black.woff")
            format("woff");
}
/* Importing all the font's files needed for Source Code Pro */
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Regular.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 400;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-It.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 200;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-ExtraLight.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 200;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-ExtraLightIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Light.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 300;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-LightIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 600;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Semibold.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 600;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-SemiboldIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Bold.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 700;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-BoldIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 900;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Black.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 900;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-BlackIt.woff")
            format("woff");
}
/* Declaring all the variables that are going to be used */
:root {
    --percentage: 100%;
    --sourceCodePro: "Source Code Pro";
    --pacifico: "Pacifico";
    --proximaNova: "Proxima Nova";
    --color1: rgb(
        calc(var(--percentage) * (250 / 255)),
        calc(var(--percentage) * (250 / 255)),
        calc(var(--percentage) * (90 / 255))
    );
    --color2: rgb(
        calc(var(--percentage) * (27 / 255)),
        calc(var(--percentage) * (54 / 255)),
        calc(var(--percentage) * (92 / 255))
    );
    --color3: rgb(
        calc(var(--percentage) * (250 / 255)),
        calc(var(--percentage) * (69 / 255)),
        calc(var(--percentage) * (65 / 255))
    );
    --color4: rgb(
        var(--percentage),
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0)
    );
}
body,
body[id*="Search"] main form input,
body[id*="Search"] main form button,
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) button {
    font-family: sans-serif;
    background-color: var(--color1);
    color: var(--color2);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(1),
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) a {
    font-family: var(--sourceCodePro);
}
#Homepage footer div,
body[id*="Search"] footer div,
body[id*="Download"] footer div {
    text-decoration: none;
    font-family: var(--pacifico);
}
body[id*="Search"] main form button:hover,
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) button:hover,
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) a:hover,
body[id*="Download"] main .YouTube div button:hover {
    color: var(--color3);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) a:hover {
    text-decoration: underline;
}
#Homepage footer div,
body[id*="Search"] footer div,
body[id*="Search"] main form input::placeholder,
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) a,
body[id*="Download"] main .YouTube div button {
    color: var(--color2);
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(4) button,
body[id*="Download"] main .YouTube div button {
    background: none;
    cursor: pointer;
}
body[id*="Download"] main .YouTube div a {
    color: var(--color4);
}
body[id*="Search"] main form input::placeholder {
    opacity: calc(var(--percentage) / 2);
}
body[id*="Search"] main form button {
    cursor: pointer;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(1),
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    div:nth-child(3)
    #duration
    div:nth-child(1),
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    div:nth-child(3)
    #views
    div:nth-child(1) {
    font-weight: bold;
}
body[id*="Search"] main .Media .YouTube .data div:nth-child(2) a {
    text-decoration: none;
}
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    div:nth-child(3)
    #duration
    div:nth-child(2),
body[id*="Search"]
    main
    .Media
    .YouTube
    .data
    div:nth-child(3)
    #views
    div:nth-child(2) {
    font-weight: normal;
}
body[id*="Download"] main .YouTube div a:hover {
    opacity: calc(var(--percentage) / 2);
}
header nav div a {
    font-family: var(--pacifico);
    color: var(--color2);
    text-decoration: none;
}
header nav div a:hover {
    text-decoration: underline;
    color: var(--color3);
}
header nav .active a,
header nav div div button:hover svg,
header nav div form button:hover svg,
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(5) a:hover svg {
    color: var(--color3);
}
header nav div div button,
header nav div form button {
    background: transparent;
    cursor: pointer;
}
header nav div div button svg,
header nav div form button svg,
header nav div form input,
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(2) a,
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(5) a svg {
    color: var(--color2);
}
header nav div form input {
    background: transparent;
}
header nav div form input::placeholder {
    opacity: calc(var(--percentage) / 2);
    color: var(--color2);
}
#Homepage main p,
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(1),
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(2) a {
    font-family: var(--proximaNova);
}
#Homepage main div div svg {
    color: var(--color4);
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(1),
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(2) a,
#Homepage
    main
    .Trend
    div
    .card
    div:nth-child(2)
    div:nth-child(3)
    div:nth-child(1),
#Homepage
    main
    .Trend
    div
    .card
    div:nth-child(2)
    div:nth-child(4)
    div:nth-child(1) {
    font-weight: 600;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(2) a {
    text-decoration: none;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(2) a:hover {
    text-decoration: underline;
}
#Homepage main .Trend div .card div:nth-child(1) a:hover img {
    opacity: calc(var(--percentage) / 2);
}
