/* Declaring all the variables that are going to be used */
:root {
    --textSize: calc(var(--percentage) * 1.331);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
footer {
    height: calc(var(--height) / 10);
    display: flex;
    justify-content: center;
}
main {
    height: calc(var(--height) * 0.8);
    --component-height: calc(var(--height) * 0.8);
}
footer div {
    height: inherit;
    width: calc(var(--width) / 5);
    font-size: calc(var(--textSize) * 0.81);
    display: flex;
    justify-content: center;
    align-items: center;
}
main #loading {
    position: fixed;
    z-index: 1;
    left: calc(var(--width) * 0);
    top: calc(var(--height) * 0);
    width: var(--width);
    height: var(--height);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 6.727499949);
}
header {
    --header-height: calc(var(--height) / 10);
    --header-width: var(--width);
    height: var(--header-height);
    width: var(--header-width);
}
header nav {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
}
header nav div {
    height: inherit;
}
header nav div:nth-child(1) {
    width: calc(var(--header-width) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav div:nth-child(1) a {
    font-size: calc(var(--textSize) * 0.73);
    letter-spacing: calc(var(--width) / 1000);
}
header nav div:nth-child(2) {
    height: inherit;
    --header-component-width: calc(var(--header-width) * (2 / 3));
    display: flex;
    width: var(--header-component-width);
}
header nav div:nth-child(2) form {
    --search-bar-height: var(--header-height);
    --search-bar-width: calc(var(--header-component-width) * 0.8);
    display: flex;
    height: var(--search-bar-height);
    width: var(--search-bar-width);
    align-items: center;
}
header nav div:nth-child(2) form button {
    border: unset;
    padding: unset;
    width: auto;
    height: auto;
}
header nav div:nth-child(2) form button svg {
    width: auto;
    height: calc(var(--search-bar-height) / 2);
}
header nav div:nth-child(2) form input {
    border: unset;
    height: calc(var(--search-bar-height) * 0.75);
    border-bottom: solid 1px;
    letter-spacing: calc(var(--width) / 2000);
    width: calc(var(--search-bar-width) * 0.9);
    font-size: calc(var(--textSize) * 0.43);
}
header nav div:nth-child(2) div {
    width: calc(var(--header-component-width) / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
header nav div:nth-child(2) div button {
    border: unset;
    padding: unset;
    height: auto;
    width: auto;
}
header nav div:nth-child(2) div button svg {
    width: auto;
    height: calc(var(--header-height) / 2);
}
body[id*="Download"] main .YouTube {
    --YouTube-height: var(--component-height);
    --YouTube-width: var(--width);
    height: var(--YouTube-height);
    width: var(--YouTube-width);
}
body[id*="Download"] main .YouTube #video {
    --video-height: calc(var(--YouTube-height) * (2 / 3));
    --video-width: var(--YouTube-width);
    height: var(--video-height);
    width: var(--video-width);
    display: flex;
    justify-content: center;
    align-items: center;
}
body[id*="Download"] main .YouTube #video video {
    height: inherit;
    width: auto;
}
body[id*="Download"] main .YouTube #data {
    --data-height: calc(var(--YouTube-height) / 3);
    --data-width: var(--YouTube-width);
    height: var(--data-height);
    width: var(--data-width);
}
body[id*="Download"] main .YouTube #data #title {
    --title-height: calc(var(--data-height) * (2 / 5));
    --title-width: var(--data-width);
    height: var(--title-height);
    width: var(--title-width);
    display: flex;
    align-items: center;
    justify-content: center;
}
body[id*="Download"] main .YouTube #data #title a,
body[id*="Download"] main .YouTube #data #author a {
    letter-spacing: calc(var(--width) / 2000);
    font-size: calc(var(--textSize) * 0.729);
}
body[id*="Download"] main .YouTube #data #author {
    --author-height: calc(var(--data-height) / 5);
    --author-width: var(--data-width);
    height: var(--author-height);
    width: var(--author-width);
    display: flex;
    align-items: center;
}
body[id*="Download"] main .YouTube #data #actions {
    --actions-height: calc(var(--data-height) * (2 / 5));
    --actions-width: var(--data-width);
    height: var(--actions-height);
    width: var(--actions-width);
    display: flex;
}
body[id*="Download"] main .YouTube #data #actions #metrics {
    --metrics-height: var(--actions-height);
    --metrics-width: calc(var(--actions-width) / 2);
    height: var(--metrics-height);
    width: var(--metrics-width);
}
body[id*="Download"] main .YouTube #data #actions #metrics #duration,
body[id*="Download"] main .YouTube #data #actions #metrics #views {
    --metrics-data-height: calc(var(--metrics-height) / 2);
    --metrics-data-width: var(--metrics-width);
    height: var(--metrics-data-height);
    width: var(--metrics-data-width);
    display: flex;
}
body[id*="Download"] main .YouTube #data #actions #metrics #duration div,
body[id*="Download"] main .YouTube #data #actions #metrics #views div {
    width: calc(var(--metrics-data-width) / 2);
    letter-spacing: calc(var(--width) / 2000);
    display: flex;
    align-items: center;
}
body[id*="Download"] main .YouTube #data #actions #buttons {
    --buttons-width: calc(var(--actions-width) / 2);
    display: flex;
    height: var(--buttons-height);
    width: var(--buttons-width);
}
body[id*="Download"] main .YouTube #data #actions #buttons .button {
    width: calc(var(--buttons-width) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
body[id*="Download"] main .YouTube #data #actions #buttons .button button {
    height: auto;
    width: auto;
    border: none;
    padding: calc(var(--actions-height) * 0) calc(var(--actions-width) * 0);
}
body[id*="Download"] main .YouTube #data #actions #buttons .button button svg {
    width: auto;
    height: calc(var(--actions-height) / 2);
}
