:root {
    --textSize: calc(var(--percentage) * 1.331);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
footer {
    height: calc(var(--height) / 10);
    display: flex;
    justify-content: center;
}
main {
    height: calc(var(--height) * 0.8);
    --component-height: calc(var(--height) * 0.8);
}
footer div {
    height: inherit;
    width: calc(var(--width) / 5);
    font-size: calc(var(--textSize) * 0.81);
    display: flex;
    justify-content: center;
    align-items: center;
}
main #loading {
    position: fixed;
    z-index: 1;
    left: calc(var(--width) * 0);
    top: calc(var(--height) * 0);
    width: var(--width);
    height: var(--height);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 6.727499949);
}
header {
    --header-height: calc(var(--height) / 10);
    --header-width: var(--width);
    height: var(--header-height);
    width: var(--header-width);
}
header nav {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
}
header nav div {
    height: inherit;
}
header nav div:nth-child(1) {
    width: calc(var(--header-width) / 3);
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav div:nth-child(1) a {
    font-size: calc(var(--textSize) * 0.73);
    letter-spacing: calc(var(--width) / 1000);
}
header nav div:nth-child(2) {
    height: inherit;
    --header-component-width: calc(var(--header-width) * (2 / 3));
    display: flex;
    width: var(--header-component-width);
}
header nav div:nth-child(2) form {
    --search-bar-height: var(--header-height);
    --search-bar-width: calc(var(--header-component-width) * 0.8);
    display: flex;
    height: var(--search-bar-height);
    width: var(--search-bar-width);
    align-items: center;
}
header nav div:nth-child(2) form button {
    border: unset;
    padding: unset;
    width: auto;
    height: auto;
}
header nav div:nth-child(2) form button svg {
    width: auto;
    height: calc(var(--search-bar-height) / 2);
}
header nav div:nth-child(2) form input {
    border: unset;
    height: calc(var(--search-bar-height) * 0.75);
    border-bottom: solid 1px;
    letter-spacing: calc(var(--width) / 2000);
    width: calc(var(--search-bar-width) * 0.9);
    font-size: calc(var(--textSize) * 0.43);
}
header nav div:nth-child(2) div {
    width: calc(var(--header-component-width) / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
header nav div:nth-child(2) div button {
    border: unset;
    padding: unset;
    height: auto;
    width: auto;
}
header nav div:nth-child(2) div button svg {
    width: auto;
    height: calc(var(--header-height) / 2);
}
#Homepage main {
    --main-height: calc(var(--height) * 0.8);
    --main-width: var(--width);
    height: var(--main-height);
    width: var(--main-width);
}
#Homepage main p {
    margin-block: calc(var(--main-height) * 0);
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * 0.43);
    text-align: justify;
    display: block;
    height: calc(var(--main-height) / 10);
}
#Homepage main div {
    height: calc(var(--main-height) / 10);
    display: flex;
    justify-content: center;
    width: inherit;
}
#Homepage main div div {
    display: flex;
    width: auto;
    height: inherit;
    align-items: center;
}
#Homepage main div div svg {
    width: auto;
    height: calc(var(--main-height) / 10.661);
}
#Homepage main .Trend {
    display: block;
    height: calc(var(--main-height) * 0.8);
    width: inherit;
}
#Homepage main .Trend div {
    --trend-height: calc(var(--main-height) * 0.8);
    --trend-width: var(--main-width);
    display: flex;
    width: inherit;
    height: inherit;
    align-items: unset;
    overflow: auto;
    flex-wrap: wrap;
}
#Homepage main .Trend div .card {
    --card-height: calc(var(--trend-height) / 2);
    --card-width: calc(var(--trend-width) / 2);
    display: flex;
    height: var(--card-height);
    width: var(--card-width);
    overflow: unset;
    flex-wrap: nowrap;
}
#Homepage main .Trend div .card div {
    height: inherit;
    width: calc(var(--card-width) / 2);
    overflow: unset;
}
#Homepage main .Trend div .card div:nth-child(1) {
    display: block;
}
#Homepage main .Trend div .card div:nth-child(1) a {
    display: block;
    width: inherit;
    height: auto;
}
#Homepage main .Trend div .card div:nth-child(1) a img {
    height: auto;
    width: inherit;
}
#Homepage main .Trend div .card div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
}
#Homepage main .Trend div .card div:nth-child(2) div {
    height: calc(var(--card-height) / 4);
    display: block;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(1) {
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * 0.25);
    width: inherit;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(2) {
    width: inherit;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(2) a {
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * 0.3);
    display: block;
    height: inherit;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(3),
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(4) {
    height: calc(var(--card-height) / 8);
    width: inherit;
    display: flex;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(3) div,
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(4) div {
    height: inherit;
    width: calc(var(--card-width) / 4);
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * 0.35);
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(5) {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(5) a {
    display: block;
    width: auto;
    height: calc(var(--card-height) / 4.265);
}
#Homepage main .Trend div .card div:nth-child(2) div:nth-child(5) a svg {
    width: auto;
    height: calc(var(--card-height) / 4.265);
}
