:root {
    --textSize: var(--percentage);
    --height: 0px;
    --width: 0px;
}
body {
    height: var(--height);
    width: var(--width);
    margin: calc(var(--height) * 0) calc(var(--width) * 0);
    padding: calc(var(--height) * 0) calc(var(--width) * 0);
    font-size: var(--textSize);
}
footer {
    --footer-height: calc(var(--height) / 10);
    --footer-width: var(--width);
    height: var(--footer-height);
    width: var(--footer-width);
    display: flex;
    justify-content: center;
}
main {
    --main-height: calc(var(--height) * 0.8);
    --main-width: var(--width);
    height: var(--main-height);
    width: var(--main-width);
}
footer div {
    height: var(--footer-height);
    width: calc(var(--footer-width) / 5);
    font-size: calc(var(--textSize) * 1.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
main #loading {
    position: fixed;
    z-index: 1;
    left: calc(var(--width) * 0);
    top: calc(var(--height) * 0);
    width: var(--width);
    height: var(--height);
    display: none;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--textSize) * 10);
}
header {
    --header-height: calc(var(--height) / 10);
    --header-width: var(--width);
    height: var(--header-height);
    width: var(--header-width);
}
header nav {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
}
header nav div {
    height: inherit;
}
header nav div:nth-child(1) {
    width: calc(var(--header-width) / 5);
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav div:nth-child(1) a {
    font-size: calc(var(--textSize) * 1.5);
    letter-spacing: calc(var(--width) / 1000);
}
header nav div:nth-child(2) {
    --navigation-width: calc(var(--header-width) * (4 / 5));
    --navigation-height: var(--header-height);
    height: var(--navigation-height);
    display: flex;
    width: var(--header-component-width);
}
header nav div:nth-child(2) form {
    display: flex;
    height: var(--navigation-height);
    width: calc(var(--navigation-width) * 0.9);
    align-items: center;
}
header nav div:nth-child(2) form button {
    border: unset;
    padding: unset;
    font-size: calc(var(--textSize) * 1.5);
}
header nav div:nth-child(2) form input {
    border: unset;
    height: calc(var(--navigation-height) * (48 / 89));
    border-bottom: solid 1px;
    letter-spacing: calc(var(--width) / 2000);
    width: var(--navigation-width);
}
header nav div:nth-child(2) div {
    width: calc(var(--navigation-width) / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
header nav div:nth-child(2) div button {
    border: unset;
    padding: unset;
    font-size: calc(var(--textSize) * 1.5);
}
main {
    --main-height: calc(var(--height) * 0.8);
    --main-width: var(--width);
    height: var(--main-height);
    width: var(--main-width);
}
main p {
    margin-block: calc(var(--main-height) * 0);
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * 0.75);
    text-align: justify;
    display: block;
    height: calc(var(--main-height) / 10);
    margin-inline: calc(var(--main-width) / 50);
    width: calc(var(--main-width) * 0.96);
}
main div {
    height: calc(var(--main-height) / 10);
    display: flex;
    justify-content: center;
    width: var(--main-width);
    align-items: center;
}
main div div {
    font-size: calc(var(--textSize) * 1.5);
}
main .Trend {
    --trend-height: calc(var(--main-height) * 0.8);
    --trend-width: var(--main-width);
    display: block;
    height: var(--trend-height);
    width: var(--trend-width);
}
main .Trend div {
    display: flex;
    width: var(--trend-width);
    height: var(--trend-height);
    align-items: unset;
    overflow: auto;
    flex-wrap: wrap;
}
main .Trend div .card {
    --card-height: calc(var(--trend-height) / 2);
    --card-width: calc(var(--trend-width) / 2);
    display: flex;
    height: var(--card-height);
    width: var(--card-width);
    overflow: unset;
    flex-wrap: nowrap;
}
main .Trend div .card div {
    height: var(--card-height);
    width: calc(var(--card-width) / 2);
    overflow: unset;
}
main .Trend div .card div:nth-child(1) {
    display: block;
}
main .Trend div .card div:nth-child(1) a {
    display: block;
    width: calc(var(--card-width) / 2);
    height: auto;
}
main .Trend div .card div:nth-child(1) a img {
    height: auto;
    width: inherit;
}
main .Trend div .card div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
}
main .Trend div .card div:nth-child(2) div {
    height: calc(var(--card-height) / 4);
    width: calc(var(--card-width) / 2);
    display: block;
}
main .Trend div .card div:nth-child(2) div:nth-child(1) {
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * (5 / 27));
}
main .Trend div .card div:nth-child(2) div:nth-child(2) a {
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * (10 / 81));
    display: block;
}
main .Trend div .card div:nth-child(2) div:nth-child(3),
main .Trend div .card div:nth-child(2) div:nth-child(4) {
    height: calc(var(--card-height) / 8);
    display: flex;
}
main .Trend div .card div:nth-child(2) div:nth-child(3) div,
main .Trend div .card div:nth-child(2) div:nth-child(4) div {
    height: calc(var(--card-height) / 8);
    width: calc(var(--card-width) / 4);
    letter-spacing: calc(var(--width) / 1000);
    font-size: calc(var(--textSize) * (10 / 81));
}
main .Trend div .card div:nth-child(2) div:nth-child(5) {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
main .Trend div .card div:nth-child(2) div:nth-child(5) a {
    display: flex;
    width: auto;
    height: calc(var(--card-height) / 4);
    font-size: calc(var(--textSize) * (20 / 81));
    align-items: center;
}
