/* Importing all the font's files needed for Pacifico */
@font-face {
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    src: local("Pacifico"),
        url("https://fonts.cdnfonts.com/s/12846/Pacifico.woff")
            format("woff");
}
/* Importing all the font's files needed for Proxima Nova */
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Regular Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Regular.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 250;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Thin Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 250;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Thin.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 300;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Light.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: italic;
    font-weight: 300;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Light Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Semibold Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Semibold.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Bold Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 700;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Bold.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 800;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Extrabold Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 800;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Extrabold.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Black Italic.woff")
            format("woff");
}
@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 900;
    src: local("Proxima Nova"),
        url("https://fonts.cdnfonts.com/s/27118/Mark Simonson  Proxima Nova Black.woff")
            format("woff");
}
/* Importing all the font's files needed for Source Code Pro */
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Regular.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 400;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-It.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 200;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-ExtraLight.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 200;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-ExtraLightIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 300;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Light.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 300;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-LightIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 600;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Semibold.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 600;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-SemiboldIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Bold.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 700;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-BoldIt.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 900;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-Black.woff")
            format("woff");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: italic;
    font-weight: 900;
    src: local("Source Code Pro"),
        url("https://fonts.cdnfonts.com/s/12183/SourceSansPro-BlackIt.woff")
            format("woff");
}
/* Declaring all the variables that are going to be used */
:root {
    --percentage: 100%;
    --sourceCodePro: "Source Code Pro";
    --pacifico: "Pacifico";
    --proximaNova: "Proxima Nova";
    --color1: rgb(
        calc(var(--percentage) * (250 / 255)),
        calc(var(--percentage) * (250 / 255)),
        calc(var(--percentage) * (90 / 255))
    );
    --color2: rgb(
        calc(var(--percentage) * (27 / 255)),
        calc(var(--percentage) * (54 / 255)),
        calc(var(--percentage) * (92 / 255))
    );
    --color3: rgb(
        calc(var(--percentage) * (250 / 255)),
        calc(var(--percentage) * (69 / 255)),
        calc(var(--percentage) * (65 / 255))
    );
    --color4: rgb(
        var(--percentage),
        calc(var(--percentage) * 0),
        calc(var(--percentage) * 0)
    );
}
body {
    font-family: sans-serif;
    background-color: var(--color1);
}
main #loading,
header nav .active a,
header nav div div button:hover i,
header nav div form button:hover i,
main .Media .YouTube .data div button:hover,
header nav .active button i,
header nav div a:hover {
    color: var(--color3);
}
body,
footer div,
main .Media .YouTube .data .metadata div:nth-child(2) a,
main .Media .RelatedContents .card div:nth-child(2) div:nth-child(2) a,
header nav div a,
header nav div form input,
header nav div div button i,
header nav div form button i,
header nav div form input::placeholder,
main .Media .YouTube .data div button {
    color: var(--color2);
}
header nav div a,
footer div {
    font-family: var(--pacifico);
}
header nav div div button,
header nav div form button {
    background: transparent;
    cursor: pointer;
}
header nav div form input {
    background: transparent;
    font-family: var(--sourceCodePro);
}
header nav div form input::placeholder {
    opacity: calc(var(--percentage) / 2);
}
main .Media .RelatedContents .card div:nth-child(2) div:nth-child(1) div:nth-child(1),
main .Media .RelatedContents .card div:nth-child(2) div:nth-child(1) div:nth-child(2) a,
main .Media .RelatedContents .card div:nth-child(2) div:nth-child(1) div:nth-child(3) div:nth-child(2),
main .Media .YouTube .data .metadata div {
    font-family: var(--proximaNova);
}
main .Media .YouTube .data .metadata div:nth-child(1),
main .Media .RelatedContents .card div:nth-child(2) div:nth-child(1) {
    font-weight: 600;
}
main .Media .YouTube .data .metadata div:nth-child(2) a,
main .Media .RelatedContents .card div:nth-child(2) div:nth-child(2) a,
header nav div a,
footer div {
    text-decoration: none;
}
main .Media .YouTube .data .metadata div:nth-child(2) a:hover,
main .Media .RelatedContents .card div:nth-child(2) div:nth-child(2) a:hover,
header nav div a:hover {
    text-decoration: underline;
}
main .Media .YouTube div a:hover,
main .Media .RelatedContents .card div:nth-child(1) a:hover img {
    opacity: calc(var(--percentage) / 2);
}
main .Media .YouTube .data .metadata div:nth-child(2) a:hover {
    opacity: var(--percentage);
}
main .Media .YouTube .data .metadata div:nth-child(3) div div:nth-child(2),
main .Media .RelatedContents .card div:nth-child(2) div:nth-child(1) div:nth-child(2) a,
main .Media .RelatedContents .card div:nth-child(2) div:nth-child(1) div:nth-child(3) div:nth-child(2) {
    font-weight: 400;
}
main .Media .YouTube .data div button {
    background-color: var(--color1);
    cursor: pointer;
}
header nav .active input {
    border-bottom: var(--color3) solid calc(var(--search-bar-height) / 58.2);
}
main #loading {
    background-color: var(--color5);
}
