<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="author" content="Darkness4869" />
        <link rel="manifest" href="/manifest.json" />
        <link rel="preconnect" href="https://fonts.cdnfonts.com" />
        <link rel="preconnect" href="https://cdnjs.cloudflare.com" />
        <link rel="preconnect" href="https://i.ytimg.com" />
        <link id="ytd-css" rel="preload" as="style" href="/static/stylesheets/ytd/Download.css" nonce="{{ nonce }}" />
        <link
            id="desktop-css"
            rel="preload"
            as="style"
            href="/static/stylesheets/desktop/Download.css"
            media="screen and (min-width: 1024px)"
            nonce="{{ nonce }}"
        />
        <link
            id="mobile-css"
            rel="preload"
            as="style"
            href="/static/stylesheets/mobile/Download.css"
            media="screen and (max-width: 639px)"
            nonce="{{ nonce }}"
        />
        <link
            id="tablet-css"
            rel="preload"
            as="style"
            href="/static/stylesheets/tablet/Download.css"
            media="screen and (min-width: 640px) and (max-width: 1023px)"
            nonce="{{ nonce }}"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            nonce="{{ nonce }}"
        />
        <link rel="icon" href="/static/images/icons/Extractio.png" type="image/png" />
        <script async src="/static/scripts/js/tracker.js" nonce="{{ nonce }}"></script>
        <script src="/static/scripts/js/ytd.js" defer="defer" nonce="{{ nonce }}"></script>
    </head>
    <body>
        <script src="/static/scripts/views/bundle.js"></script>
    </body>
</html>