<!DOCTYPE html>
<html lang="en">
    <head key={{ google_analytics_key }}>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Darkness4869" />
        <meta name="repository" content="https://github.com/DONALDBZR/ytd_web_app" />
        <link rel="manifest" href="/manifest.json">
        <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
        <link rel="icon" href="/static/images/icons/Extractio.png" type="image/png" />
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_key }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', '{{ google_analytics_key }}');
        </script>
        <script src="/static/scripts/js/ytd.js" defer></script>
    </head>
    <body>
        <header>
            <script
                src="/static/scripts/views/Header.js"
                type="text/babel"
            ></script>
        </header>
        <main>
            <script
                src="/static/scripts/views/Main.js"
                type="text/babel"
            ></script>
        </main>
        <footer>
            <script
                src="/static/scripts/views/Footer.js"
                type="text/babel"
            ></script>
        </footer>
        <script src="/static/scripts/js/service-worker.js"></script>
    </body>
</html>
